<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Flash Tool</Name>
    <Version>0.9.0</Version>
    <Title>ODF 0.9.0 Beta Installers</Title>
    <Publisher>Tpimp</Publisher>
    <StartMenuDir>Odroid Flash Tool</StartMenuDir>
    <TargetDir>@rootDir@/Program Files (x86)/ODROID Flash Tool</TargetDir>
</Installer>